<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-animal-type-heading" jhiTranslate="animalCretificationApp.animalType.home.createOrEditLabel">Create or edit a Animal Type</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="animalCretificationApp.animalType.typeName" for="field_typeName">Type Name</label>
                    <input type="text" class="form-control" name="typeName" id="field_typeName"
                           formControlName="typeName"/>
                    <div *ngIf="editForm.get('typeName')!.invalid && (editForm.get('typeName')!.dirty || editForm.get('typeName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('typeName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="animalCretificationApp.animalType.typeNameEng" for="field_typeNameEng">Type Name Eng</label>
                    <input type="text" class="form-control" name="typeNameEng" id="field_typeNameEng"
                           formControlName="typeNameEng"/>
                    <div *ngIf="editForm.get('typeNameEng')!.invalid && (editForm.get('typeNameEng')!.dirty || editForm.get('typeNameEng')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('typeNameEng')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="animalCretificationApp.animalType.scientificNameENG" for="field_scientificNameENG">Scientific Name ENG</label>
                    <input type="text" class="form-control" name="scientificNameENG" id="field_scientificNameENG"
                           formControlName="scientificNameENG"/>
                    <div *ngIf="editForm.get('scientificNameENG')!.invalid && (editForm.get('scientificNameENG')!.dirty || editForm.get('scientificNameENG')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('scientificNameENG')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
