<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="animalType">
            <h2><span jhiTranslate="animalCertificationApp.animalType.detail.title">Animal Type</span> {{ animalType.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="animalCertificationApp.animalType.typeName">Type Name</span></dt>
                <dd>
                    <span>{{ animalType.typeName }}</span>
                </dd>
                <dt><span jhiTranslate="animalCertificationApp.animalType.typeNameEng">Type Name Eng</span></dt>
                <dd>
                    <span>{{ animalType.typeNameEng }}</span>
                </dd>
                <dt><span jhiTranslate="animalCertificationApp.animalType.scientificNameENG">Scientific Name ENG</span></dt>
                <dd>
                    <span>{{ animalType.scientificNameENG }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/animal-type', animalType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
