<div>
    <h2 id="page-heading">
        <span jhiTranslate="animalCertificationApp.personData.home.title">Person Data</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-person-data" [routerLink]="['/person-data/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="animalCertificationApp.personData.home.createLabel">
            Create a new Person Data
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="personData?.length === 0">
        <span jhiTranslate="animalCertificationApp.personData.home.notFound">No personData found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="personData && personData.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="animalCertificationApp.personData.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="animalCertificationApp.personData.surname">Surname</span></th>
                    <th scope="col" ><span jhiTranslate="animalCertificationApp.personData.nameEng">Name Eng</span></th>
                    <th scope="col" ><span jhiTranslate="animalCertificationApp.personData.surnameEng">Surname Eng</span></th>
                    <th scope="col" ><span jhiTranslate="animalCertificationApp.personData.patronymic">Patronymic</span></th>
                    <th scope="col" ><span jhiTranslate="animalCertificationApp.personData.phone">Phone</span></th>
                    <th scope="col" ><span jhiTranslate="animalCertificationApp.personData.inn">Inn</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let personData of personData ;trackBy: trackId">
                    <td><a [routerLink]="['/person-data', personData.id, 'view']">{{ personData.id }}</a></td>
                    <td>{{ personData.name }}</td>
                    <td>{{ personData.surname }}</td>
                    <td>{{ personData.nameEng }}</td>
                    <td>{{ personData.surnameEng }}</td>
                    <td>{{ personData.patronymic }}</td>
                    <td>{{ personData.phone }}</td>
                    <td>{{ personData.inn }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/person-data', personData.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/person-data', personData.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(personData)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
