<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vaccine">
            <h2><span jhiTranslate="animalCretificationApp.vaccine.detail.title">Vaccine</span> {{ vaccine.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="animalCretificationApp.vaccine.title">Title</span></dt>
                <dd>
                    <span>{{ vaccine.title }}</span>
                </dd>
                <dt><span jhiTranslate="animalCretificationApp.vaccine.date">Date</span></dt>
                <dd>
                    <span>{{ vaccine.date }}</span>
                </dd>
                <dt><span jhiTranslate="animalCretificationApp.vaccine.batchNumber">Batch Number</span></dt>
                <dd>
                    <span>{{ vaccine.batchNumber }}</span>
                </dd>
                <dt><span jhiTranslate="animalCretificationApp.vaccine.nameAndManufacturer">Name And Manufacturer</span></dt>
                <dd>
                    <span>{{ vaccine.nameAndManufacturer }}</span>
                </dd>
                <dt><span jhiTranslate="animalCretificationApp.vaccine.validUtil">Valid Util</span></dt>
                <dd>
                    <span>{{ vaccine.validUtil }}</span>
                </dd>
                <dt><span jhiTranslate="animalCretificationApp.vaccine.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'animalCretificationApp.VaccineType.' + vaccine.type }}">{{ vaccine.type }}</span>
                </dd>
                <dt><span jhiTranslate="animalCretificationApp.vaccine.animal">Animal</span></dt>
                <dd>
                    <div *ngIf="vaccine.animal">
                        <a [routerLink]="['/animal', vaccine.animal?.id, 'view']">{{ vaccine.animal?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vaccine', vaccine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
