<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="breed">
            <h2><span jhiTranslate="animalCertificationApp.breed.detail.title">Breed</span> {{ breed.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="animalCertificationApp.breed.breedName">Breed Name</span></dt>
                <dd>
                    <span>{{ breed.breedName }}</span>
                </dd>
                <dt><span jhiTranslate="animalCertificationApp.breed.breedNameEng">Breed Name Eng</span></dt>
                <dd>
                    <span>{{ breed.breedNameEng }}</span>
                </dd>
                <dt><span jhiTranslate="animalCertificationApp.breed.type">Type</span></dt>
                <dd>
                    <div *ngIf="breed.type">
                        <a [routerLink]="['/animal-type', breed.type?.id, 'view']">{{ breed.type?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/breed', breed.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
