<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-document-heading" jhiTranslate="animalCertificationApp.document.home.createOrEditLabel">Create or edit a Document</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="animalCertificationApp.document.issuedAt" for="field_issuedAt">Issued At</label>
                    <div class="d-flex">
                        <input id="field_issuedAt" type="datetime-local" class="form-control" name="issuedAt" formControlName="issuedAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('issuedAt')!.invalid && (editForm.get('issuedAt')!.dirty || editForm.get('issuedAt')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('issuedAt')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('issuedAt')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="animalCertificationApp.document.link" for="field_link">Link</label>
                    <input type="text" class="form-control" name="link" id="field_link"
                           formControlName="link"/>
                    <div *ngIf="editForm.get('link')!.invalid && (editForm.get('link')!.dirty || editForm.get('link')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('link')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="animalCertificationApp.document.documentNumber" for="field_documentNumber">Document Number</label>
                    <input type="text" class="form-control" name="documentNumber" id="field_documentNumber"
                           formControlName="documentNumber"/>
                    <div *ngIf="editForm.get('documentNumber')!.invalid && (editForm.get('documentNumber')!.dirty || editForm.get('documentNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('documentNumber')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="animalCertificationApp.document.type" for="field_type">Type</label>
                    <select class="form-control" id="field_type" name="type" formControlName="type">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="documentTypeOption.id === editForm.get('type')!.value?.id ? editForm.get('type')!.value : documentTypeOption" *ngFor="let documentTypeOption of documenttypes; trackBy: trackById">{{ documentTypeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="animalCertificationApp.document.request" for="field_request">Request</label>
                    <select class="form-control" id="field_request" name="request" formControlName="request">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="requestOption.id === editForm.get('request')!.value?.id ? editForm.get('request')!.value : requestOption" *ngFor="let requestOption of requests; trackBy: trackById">{{ requestOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
