<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="document">
            <h2><span jhiTranslate="animalCertificationApp.document.detail.title">Document</span> {{ document.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="animalCertificationApp.document.issuedAt">Issued At</span></dt>
                <dd>
                    <span>{{ document.issuedAt }}</span>
                </dd>
                <dt><span jhiTranslate="animalCertificationApp.document.link">Link</span></dt>
                <dd>
                    <span>{{ document.link }}</span>
                </dd>
                <dt><span jhiTranslate="animalCertificationApp.document.documentNumber">Document Number</span></dt>
                <dd>
                    <span>{{ document.documentNumber }}</span>
                </dd>
                <dt><span jhiTranslate="animalCertificationApp.document.type">Type</span></dt>
                <dd>
                    <div *ngIf="document.type">
                        <a [routerLink]="['/document-type', document.type?.id, 'view']">{{ document.type?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/document', document.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
