<div>
    <h2 id="page-heading">
        <span jhiTranslate="animalCertificationApp.animal.home.title">Animals</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-animal" [routerLink]="['/animal/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="animalCertificationApp.animal.home.createLabel">
            Create a new Animal
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="animals?.length === 0">
        <span jhiTranslate="animalCertificationApp.animal.home.notFound">No animals found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="animals && animals.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="animalCertificationApp.animal.nickname">Nickname</span></th>
                    <th scope="col" ><span jhiTranslate="animalCertificationApp.animal.birthdate">Birthdate</span></th>
                    <th scope="col" ><span jhiTranslate="animalCertificationApp.animal.gender">Gender</span></th>
                    <th scope="col" ><span jhiTranslate="animalCertificationApp.animal.chip">Chip</span></th>
                    <th scope="col" ><span jhiTranslate="animalCertificationApp.animal.birthPlace">Birth Place</span></th>
                    <th scope="col" ><span jhiTranslate="animalCertificationApp.animal.tnvedCode">Tnved Code</span></th>
                    <th scope="col" ><span jhiTranslate="animalCertificationApp.animal.color">Color</span></th>
                    <th scope="col" ><span jhiTranslate="animalCertificationApp.animal.colorEng">Color Eng</span></th>
                    <th scope="col" ><span jhiTranslate="animalCertificationApp.animal.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="animalCertificationApp.animal.breed">Breed</span></th>
                    <th scope="col" ><span jhiTranslate="animalCertificationApp.animal.master">Master</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let animal of animals ;trackBy: trackId">
                    <td><a [routerLink]="['/animal', animal.id, 'view']">{{ animal.id }}</a></td>
                    <td>{{ animal.nickname }}</td>
                    <td>{{ animal.birthdate | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'animalCertificationApp.Gender.' + animal.gender }}">{{ animal.gender }}</td>
                    <td>{{ animal.chip }}</td>
                    <td>{{ animal.birthPlace }}</td>
                    <td>{{ animal.tnvedCode }}</td>
                    <td>{{ animal.color }}</td>
                    <td>{{ animal.colorEng }}</td>
                    <td jhiTranslate="{{ 'animalCertificationApp.AnimalStatus.' + animal.status }}">{{ animal.status }}</td>
                    <td>
                        <div *ngIf="animal.breed">
                            <a [routerLink]="['/breed', animal.breed?.id, 'view']" >{{ animal.breed?.id }}</a>
                        </div>
                    </td>
                    <td>
                        {{ animal.master?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/animal', animal.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/animal', animal.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(animal)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
