<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="animal">
            <h2><span jhiTranslate="animalCertificationApp.animal.detail.title">Animal</span> {{ animal.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="animalCertificationApp.animal.nickname">Nickname</span></dt>
                <dd>
                    <span>{{ animal.nickname }}</span>
                </dd>
                <dt><span jhiTranslate="animalCertificationApp.animal.birthdate">Birthdate</span></dt>
                <dd>
                    <span>{{ animal.birthdate }}</span>
                </dd>
                <dt><span jhiTranslate="animalCertificationApp.animal.gender">Gender</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'animalCertificationApp.Gender.' + animal.gender }}">{{ animal.gender }}</span>
                </dd>
                <dt><span jhiTranslate="animalCertificationApp.animal.chip">Chip</span></dt>
                <dd>
                    <span>{{ animal.chip }}</span>
                </dd>
                <dt><span jhiTranslate="animalCertificationApp.animal.birthPlace">Birth Place</span></dt>
                <dd>
                    <span>{{ animal.birthPlace }}</span>
                </dd>
                <dt><span jhiTranslate="animalCertificationApp.animal.tnvedCode">Tnved Code</span></dt>
                <dd>
                    <span>{{ animal.tnvedCode }}</span>
                </dd>
                <dt><span jhiTranslate="animalCertificationApp.animal.color">Color</span></dt>
                <dd>
                    <span>{{ animal.color }}</span>
                </dd>
                <dt><span jhiTranslate="animalCertificationApp.animal.colorEng">Color Eng</span></dt>
                <dd>
                    <span>{{ animal.colorEng }}</span>
                </dd>
                <dt><span jhiTranslate="animalCertificationApp.animal.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'animalCertificationApp.AnimalStatus.' + animal.status }}">{{ animal.status }}</span>
                </dd>
                <dt><span jhiTranslate="animalCertificationApp.animal.breed">Breed</span></dt>
                <dd>
                    <div *ngIf="animal.breed">
                        <a [routerLink]="['/breed', animal.breed?.id, 'view']">{{ animal.breed?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="animalCertificationApp.animal.master">Master</span></dt>
                <dd>
                    {{ animal.master?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/animal', animal.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
